<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn express</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-green-200 via-purple-100 to-blue-200">

  <header>
    <p class="uppercase text-center font-bold  m-5 " >
        <%=  locals.message || "Learn Express" %> 
    </p>
   
  </header>


<main class="text-center ">
    <header class="my-3">
        APPS :
    </header>
   <p>
    <ul>

        <li>
            <a href="/task" class="text-blue-600/100"> Tasks manager   express-mongoose</a>
        </li>
    </ul>

   </p>
</main>


</body>
</html>